<h1>Available coins</h1>
<div class="small-margin-top">
    <!--
        <p-listbox [options]="coins" [(ngModel)]="selectedCoin" optionLabel="name" (onClick)="coinClicked()"></p-listbox>
    -->
    <div class="lista-monedas" *ngFor="let coin of coins">
        <div class="coin" (click)="coinClicked(coin)">
            <span >{{coin.name}}</span>
        </div>
    </div>
    
</div>
<div class="bottom-buttons">
    <button pButton type="button" label="My wallets" class="p-button-round p-button-info" routerLink="/wallet"></button>
    <button pButton type="button" label="My communities" class="p-button-round p-button-info" routerLink="/communities/my"></button>
    <button pButton type="button" label="Logout" class="p-button-round p-button-danger" (click)="logout()"></button>
    <button pButton type="button" label="Delete account" class="p-button-round p-button-danger" (click)="delete()"></button>
</div>

<p-toast position="bottom-center"></p-toast>