<div class="master-container">
  <div class="center title-container">
    <h1>Welcome to</h1><h1>Simucrypto</h1>
    <h6>Where you can simulate crypto-market trading</h6>
  </div>
  <div class="credentails-container">
    <input type="text" placeholder="Username" [(ngModel)]="user.username">
    <input type="password" placeholder="Password" [(ngModel)]="user.password">
  </div>
  <div class="buttons-container">
      <button type="button" class="button login-button"  (click)="login()">Log In</button>
      <button type="button" class="button register-button" routerLink="/register">Register</button>
  </div>
</div>

<p-toast position="bottom-center"></p-toast>