.app-master-container {
    /* Stick to the top */
    width: 33%;
    margin-right: auto;
    margin-left:auto;
    height: 100%;
}

@media screen and (max-width: 1200px) {
    .app-master-container {
        /* Stick to the top */
        width: 50%;
    }
}

@media screen and (max-width: 750px) {
    .app-master-container {
        /* Stick to the top */
        width: 100%;
    }
}

::ng-deep{
    .small-margin-top{
        margin-top: 5%;
    }
    
    .bottom-buttons{
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        display: flex;
        justify-content: space-around;
        word-wrap: break-word;
        button{
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
        }
        
    }
    
    @media screen and (max-width: 1300px) {
        .bottom-buttons{
            width: 80%;
            margin: auto;
            flex-direction: column;            
        }
    }
}