
<h2>Create new Community</h2>
<div class="input-container">
    <input type="text" placeholder="Name">
    <input type="text" placeholder="Description">

</div>



<div class="bottom-buttons">
    <button pButton type="button" label="Create" class="p-button-round p-button-info" (click)="create()"></button>
    <button pButton type="button " label="Cancel" class="p-button-round p-button-info" routerLink="/communities/my"></button>
    <button pButton type="button" label="Back home" class="p-button-round p-button-secondary" routerLink="/landing"></button>
</div>