:host ::ng-deep {
    .master-container{
        max-width: 400px;
        margin-top: 40%;
        background-image: radial-gradient(rgb(22, 22, 22), rgb(32, 32, 32), rgb(46, 46, 46));
        border: 5px solid rgb(129, 129, 129);
        border-radius: 20px;
        margin-left: auto;
        margin-right: auto;
        padding: 1.5rem;
        font-family: 'Space Mono';
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        color: white;
        font-weight: 500;
    }

    .title-container{
        h1{
            margin: 0.5rem;
        }
    }

    .credentails-container{
        display: flex;
        flex-direction: column;
        input{
            text-decoration: none !important;
            margin: 0.5rem;
            max-width: 20ch;
            padding: 0.5rem ;
            font-size: 1.2rem;
            font-weight: 550;
        }
    }

    .buttons-container{ 
        margin: 0.5rem;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        .button {
            border: none;
            display: inline-block;
            padding: .75rem 1.25rem;
            border-radius: 10rem;
            color: #fff;
            text-transform: uppercase;
            font-size: 1rem;
            letter-spacing: .15rem;
            transition: all .3s;
            position: relative;
            overflow: hidden;
            z-index: 1;
            &:after {
              content: '';
              position: absolute;
              bottom: 0;
              left: 0;
              width: 100%;
              height: 100%;
              border-radius: 10rem;
              z-index: -2;
            }
            &:before {
              content: '';
              position: absolute;
              bottom: 0;
              left: 0;
              width: 0%;
              height: 100%;
              background-color: #61cea4;
              transition: all .4s;
              border-radius: 10rem;
              z-index: -1;
            }
            &:hover {
              color: rgb(0, 0, 0);
              &:before {
                width: 100%;
              }
            }
          }
          .login-button::after {
            background-color: #5aa1c2;
          }
          .register-button{
            background-color: #4558c5;
          }
          .delete-button{
            background-color: #c54556;
          }
        .button:hover{
            cursor: pointer;
        }
    }

    input{
        color: white;
        background-color: gray;
        
    }

    ::placeholder{
        color:white;
        font-weight: 600;
    }

}