
<div class="master-container">
    <div class="center title-container">
        <h1>Register</h1>
    </div>
    <div class="credentails-container">
        <input type="text" placeholder="login" [(ngModel)]="user.username" [ngModelOptions]="{standalone: true}">
        <input type="password" placeholder="password" [(ngModel)]="user.password" [ngModelOptions]="{standalone: true}">    
    </div>
    <div class="buttons-container">
        <button pButton type="button " label="Back to login" class="button login-button" routerLink="/login"></button>
        <button pButton type="button"  label="Register"      class="button register-button" (click)="register()"></button>
    </div>
</div>
