/* You can add global styles to this file, and also import other style files */


body{
    background-color: rgb(27, 27, 27);
    font-family: 'Space Mono';
    color: white;
    font-size: 2vh;
}

::placeholder{
    color: white;
}