
<button pButton label="Back" icon="pi pi-chevron-left" class="p-button-warning" routerLink="/landing"></button>
<div class="details">
    <div class="details-img">
        <img src="{{coin.image}}">
    </div>
    <div class="details-data">
        <span class="title">{{coin.name}}</span>
        <span>Current price: {{coin.current_price}}€</span>
        <span>24h change: {{coin.price_change_24h}}€</span>
        <span>Market cap.: {{coin.market_cap}}€</span>
    </div>

</div>

<div class="historic">
    <span>{{graphTitle}}   <p-button icon="pi pi-refresh" class="toggle-button" (click)="toggleHistoric()"></p-button></span>
    
    
    <div style="display: block; width: 100%">
        <canvas id="chart" height="200">{{ chart }}</canvas>
    </div>
    <br>
</div>

<div class="center">
    <button pButton type="button" label="Buy!" (click)="buy()"></button>
</div>
