<a routerLink="/landing">Back home</a>
<h1>My wallets</h1>
<p-table [value]="wallets">
    <ng-template pTemplate="header">
        <tr>
            <th>Name</th>
            <th>Quantity</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-wallet>
        <tr>
            <td>{{wallet.coinname}}</td>
            <td>{{wallet.cash}}</td>
        </tr>
    </ng-template>
</p-table>

<button pButton type="button " label="Refill 1K €" class="p-button-round p-button-info" (click)="refill()"></button>